.add-form {
    padding: 20px 5px;
}

.add-form > fieldset {
    border: 2px solid #22264B;
    border-radius: 10px;
    padding-bottom: 10px;
    min-height: 250px;
}

.add-form > fieldset > legend {
    font-size: 20px;
    font-weight: 500;
}

label {
    font-weight: 500;
}

.add-button {
    background: #22264B;
}

.add-button:hover {
    font-size: 20px;
    color: #FAFAFA;
}

#add-project-form > .form-wrapper > .form-row > .form-input > label,
#add-project-form > .form-wrapper > .form-row > label {
    font-weight: 600;
}

#add-project-form > .form-wrapper > .form-row.radio > .form-input {
    display: -webkit-flex; 
    display: flex
}

#add-project-form > .form-wrapper > .form-row.radio > .form-input > label,
#add-project-form > .form-wrapper > .form-row.radio > .form-input > input {
    width: 50%;
    font-weight: 500;
}

@media only screen and (min-width: 770px) {
    .add-form {
        margin: 25px 0;
        padding: 0;
    }
    
    .add-form > fieldset {
        padding: 10px;
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }
    
    .form-row.radio {
        display: -webkit-flex; 
        display: flex;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
    }
}