.landing-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse; 
    -o-flex-direction: column-reverse; 
    flex-direction: column-reverse;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    background: #22264B;
    color: #FAFAFA;
    padding-top: 0;
}

.landing-header>div {
    display: contents;
}

#header-image {
    display: none;
}

.link-list {
    margin-bottom: 20px;
}

.link-list,
.link-list>li {
    list-style: none;
}

.landing-link {
    color: #FAFAFA;
    width: 100%;
}

nav {
    visibility: hidden;
    position: fixed;
    display: block;
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: transform 0.4s ease, visibility 0.4s;
    -moz-transition: transform 0.4s ease, visibility 0.4s;
    -o-transition: transform 0.4s ease, visibility 0.4s;
    transition: transform 0.4s ease, visibility 0.4s;
    background-color: #fafafa;
    z-index: 1500;
}

header.active nav {
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#menu-container {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    padding: 7.5px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 0 0 0 10px;
    z-index: 1000;
}

#menu-container.active {
    right: 300px;
}

#bar-1,
#bar-2,
#bar-3 {
    width: 35px;
    height: 5px;
    background-color: #22264B;
    margin: 5px 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 5px;
}

#menu-container:hover #bar-2 {
    width: 25px;
    margin: 0 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu-container:hover #bar-1,
#menu-container:hover #bar-2,
#menu-container:hover #bar-3 {
    background-color: #B56969;
}

#bar-1.active {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    -o-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

#bar-2.active {
    opacity: 0;
}

#bar-3.active {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    -moz-transform: rotate(45deg) translate(-7px, -7px);
    -ms-transform: rotate(45deg) translate(-7px, -7px);
    -o-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

@media only screen and (min-width: 500px) {
    .link-list {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: row;
         -moz-flex-direction: row;
        -o-flex-direction: row; 
        flex-direction: row;
    }
    .link-list,
    .link-list>li {
        list-style: none;
    }
    .landing-link {
        font-size: 16px;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 770px) {
    header {
        grid-area: menu;
    }
    .landing-header {
        display: -webkit-flex;
        display: flex; 
        -webkit-flex-direction: initial;
        -moz-flex-direction: initial;
        -o-flex-direction: initial;
        flex-direction: initial;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -o-justify-content: flex-end;
        justify-content: flex-end;
        height: 500px;
    }
    .landing-header>div {
        display: contents;
    }
    #header-image {
        display: initial;
        position: absolute;
        height: 500px;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .main-content {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -o-justify-content: flex-end;
        justify-content: space-around;
        padding: 20px 50px;
        height: 100%;
        width: calc(100% - 400px);
    }
    #main-title {
        font-size: 50px;
        margin: 15px 0;
        width: 70%;
        text-align: left;
    }
    #demo-button {
        height: 50px;
        width: 75px;
        -webkit-align-self: flex-end;
        align-self: flex-end;
        background: #FAFAFA;
        color: #22264B;
    }
    #demo-button:hover {
        box-shadow: 1px 1px 4px 1px #B56969;
    }
    .link-list {
        position: absolute;
        top: 7px;
        width: 100%;
        max-width: 525px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }
    .link-list,
    .link-list>li {
        list-style: none;
    }
    .landing-link {
        font-size: 16px;
        padding: 0 10px;
        width: 100px;
    }
}