header {
    grid-area: menu; 
}

.landing-header {
    display: flex;

    background: #22264B;
    color: #FAFAFA;
    height: 500px;
}

.landing-header > div {
    display: contents;
}

#header-image {
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 50px;
    height: 100%;
}

#main-title {
    font-size: 50px;
    margin: 15px 0;
    width: 70%;
    text-align: left;
}

#demo-button {
    height: 50px;
    width: 75px;
    align-self: flex-end;
}

.link-list {
    position: absolute;
    top: 7px;
}

.link-list, 
.link-list > li {
    list-style: none;
    display: inline-block;
}

.landing-link {
    color: #FAFAFA;
    font-size: 16px;
    padding: 0 5px;
}

nav {
    visibility: hidden;
    position: fixed;
    display: block;
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(300px);
    transition: transform 0.4s ease, visibility 0.4s;
    background-color: #fafafa;
    z-index: 1000;
}

header.active nav {
    visibility: visible;
    transform: translateX(0);
}

#menu-container {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    padding: 7.5px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0 0 0 10px;
    z-index: 1000;
}

#menu-container.active {
    right: 300px;
}

#bar-1,
#bar-2,
#bar-3 {
    width: 35px;
    height: 5px;
    background-color: #22264B;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 5px;
}

#menu-container:hover #bar-2 {
    width: 25px;
    margin: 0 5px;
    transition: 0.3s;
}

#menu-container:hover #bar-1,
#menu-container:hover #bar-2,
#menu-container:hover #bar-3 {
    background-color: #B56969;
}

#bar-1.active {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

#bar-2.active {
    opacity: 0;
}

#bar-3.active {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}
