* {
    box-sizing: border-box;
}

body {
    background-color: #E8EDF3;
    color: #22264B;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: .6px;
}

input {
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

button {
    min-width: 100px;
    min-height: 25px;
    background: #B56969;
    color: #FAFAFA;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}


@media (min-width: 768px) { 
body {
   
}

header,
footer {
  
}

}