.landing-image, 
.account-image {
    max-width: 100%;
}

.login-form-container,
.signup-form-container {
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    #account {
        display: flex;
        justify-content: center;
    }
    .login-form-container,
    .signup-form-container {
        width: 45%;
    }
    .landing-image, 
    .account-image {
        width: 80%;
    }
}

@media only screen and (min-width: 1000px) {
    #main-landing {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .landing-container {
        width: 100%;
        max-width: 68em;
        margin: 0 auto;
        padding: 0 2.5em;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
    }
    #measurements,
    #specifications,
    #modifications #account {
        height: 400px;
        display: -webkit-flex;
        display: flex;
    }
    .landing-image {
        height: 80%;
        width: unset;
        margin-right: -2.5em;
        -webkit-align-self: center;
        align-self: center;
    }
    #measurements>.landing-title {
        padding-top: 10px;
    }
    #measurements>div {
        padding: 15% 30px 0 10px;
        text-align: left;
    }
    #specifications,
    #modifications {
        width: 50%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        padding: 30px 20px;
        max-height: 250px;
    }
    #specifications>p,
    #modifications>p {
        text-align: left;
    }
    .account-image {
        height: 300px;
        margin: 0 auto;
        width: unset;   
    }
    #account {
        width: 960px;
    }
    .login-form-container,
    .signup-form-container {
        padding: 10px 0;
    }
    .form-row.password-row {
        height: fit-content;
        padding-bottom: 0;
    }
    .form-row.password-row>p {
        margin-bottom: 0;
    }
}