img {
    max-width: 100%;
}

.login-form-container,
.signup-form-container {
    margin: 10px 0;
}

@media only screen and (min-width: 770px) {
    #main-landing {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .landing-container {
        width: 100%;
        max-width: 68em;
        margin: 0 auto;
        padding: 0 2.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #measurements, 
    #specifications,
    #modifications
    #account {
        height: 400px;
        display: flex;
    }
    
    .landing-image {
        height: 80%;
        margin-right: -2.5em;
        align-self: center;
    }
    
    #measurements > .landing-title {
        padding-top: 10px;
    }
    
    #measurements > div {
        padding: 15% 30px 0 10px;
        text-align: left;
    
    }
    
    #specifications,
    #modifications {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        max-height: 250px;
    }
    
    #specifications > p,
    #modifications > p {
        text-align: left;
    }
    
    .account-image {
        height: 300px;
        margin: 0 auto;
    }
    
    #account {
        display: flex;
    
    }
    
    .login-form-container, 
    .signup-form-container {
        padding: 10px 0;
    }
    
    .login-form-container > legend, 
    .signup-form-container > legend {
   
    }

    .form-row.password-row {
        height: fit-content;
        padding-bottom: 0;
    }

    .form-row.password-row > p {
        margin-bottom: 0;
    }
}