.measurements-section,
.project-measurements,
.pattern-measurements,
.user-measurements
 {
    display: contents
}

.measurements-list {
    display: none;
}

.project-measurements .stitches-list,
.project-measurements .measurements-title {
    grid-area: label;
}

.pattern-measurements .stitches-list, 
.pattern-measurements .measurements-title {
    display: none;
}

.list-row {
    width: 90%;
    height: 30px;
    border-bottom: 1px dotted gray;
    text-align: left;
    padding: 3px;
}

.label,
.value {
    display: inline-block;
    margin: 0;
}

.label {
    padding-right: 5px;
    width: 140px;
}

.value {
    margin-left: 155px;
 }

.list-row.button-row {
    text-align: center;
}


#delete-button {
    width: 50%;
    margin: 0 auto;
}

@media (min-width: 768px) {
.list-container {

}
}