.stitches-section>h2 {
    font-weight: 600;
    width: 100%;
}

.measurements-title {
    font-weight: 600;
    width: 100%;
    padding: 10px 0;
}

.measurements-list {
    padding: 10px;
}
.measurements-list>.list-row {
    display: -webkit-flex; display: flex
}

.measurements-list>.list-row>.label {
    width: calc(100% - 100px);
}

.measurements-list > .button-row {
    border: none;
}
select {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

input {
    padding-left: 10px;
}

@media only screen and (min-width: 770px) {
    .measurements-section {
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
        display: grid;
        grid-template-rows: 50px 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "title title title"
                             "pattern project user";
        width: 100%;
    }
    .measurements-section>h2 {
        grid-area: title;
    }
    .measurements-list {
        padding: 0;
        width: 100%;
    }
    .measurements-list>.list-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        min-height: 25px;
        text-align: left;
        padding: 3px;
        margin: 0 auto;
    }
    .measurements-list>.list-row>.label,
    .measurements-form-list>.form-row>.form-input>label {
        display: inline-block;
        margin: 0;
        width: 100%;
        padding-right: 5px;
        font-size: 15px;
    }
    .measurements-form-list>.form-row>.form-input>input  {
        font-size: 15px;
    }
    .measurements-form-list>.form-row>.form-input>select {
        height: unset;
    }
    .project-measurements {
        grid-area: project;
    }
    .pattern-measurements {
        grid-area: pattern;
    }
    .user-measurements {
        grid-area: user;
    }
    .measurements-title {
        width: 100%;
        font-weight: 500;
        padding: 0;
        margin: 10px 0;
        padding-left: 10px;
        margin: 20px 0;
        text-align: center;
    }
}