nav ul {
  width: 100%;
  padding-left: 10px;
}

nav li {
  height: 50px;
  width: 100%;
  padding: 5px;
  text-align: left;
  font-size: 1.5em;
}

nav li:hover,
nav a:hover {
  color: white;
}

nav li:active,
nav a:active {
  background: blue;
}

nav a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}