h1 {
    grid-column: 1 / span 2;
}

.images-section {
    grid-column: 1 / span 2; 
    margin: 0;
}

.images-form-container {
    width: 80%;
    margin: 0 auto;
}

.form-wrapper {
    margin: 0;
    padding: 0;
}

.project-image,
.images-form-container,
.image-form {
    max-height: 250px;
}

