.project-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.measurements-section {
    display: content;
}

.list-row {
    height: 30px;
    border-bottom: 1px dotted gray;
    text-align: left;
}

.list-row p {
    margin: 10px;
}

.list-row.button-row {
    text-align: center;
}

.label,
.value {
    display: inline-block;
    margin: 0;
}