
.images-section {
    grid-area: images;
    margin: 0;
}

.images-form-container {
    width: 80%;
    margin: 0 auto;
}

.project-image,
.images-form-container,
.image-form {
    max-height: 250px;
}

