.app {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)) 75px;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "images . tab menu"
                        "images label value sidebar"
}

main {
    display: contents; 
}

